<% @page_title = " - Textbook Index"%>
<article>
<div id="buttonarea">
<span class="title">Textbook Index</span>	<%=link_to image_tag("AddTextbook.png",  :mouseover => "AddTextbookHover.png",:class => "button", :alt => "Add Textbook" ), new_textbook_path %>
</div>
<div id="indexarea">
	<% if @textbooks %>
		<table>
		  <tr>
		    <th>ISBN</th>
		    <th>Textbook Title</th>
		  </tr>
		<% @textbooks.each do |textbook| %>
		  <tr>
		    <td><%= textbook.isbn13 %></td>
		    <td><%= textbook.title %></td>
		  </tr>
		<% end %>
		</table>
	<% else %>
		No textbooks have been selected.
	<% end %>
</div>
</article>