<article>
<div id="buttonarea">
</div>
<div id="indexarea">
<% if @subcategories %>
<table>
<tr>
	<th>Subcategory</th>
    <th>Category</th>
    <th></th>
    <th></th>
  </tr>
<% @subcategories.each do |subcategory| %>
  <tr>
    <td><%= subcategory.name %></td>
    <td><%= subcategory.category.name %></td>
    <td><%= link_to 'Edit', edit_category_subcategory_path(@category, subcategory) %></td>
    <td><%= link_to 'Destroy', category_subcategory_path(params[:category_id], subcategory), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />
