<article> 
  <div id="videoblock", class="invisible">
    <%= render 'shared/videoblock' %>
  </div>
	<div id="login-register", class="visible">
    <%= render 'shared/login' %>
	</div>
	<div id="menu", class="invisible">
		<%= render 'shared/loginmenu' %>
  </div>        
</article>   
