<article> 
  <div id="videoblock", class="visible">
    <%= render 'shared/videoblock' %>
  </div>
	<div id="login-register", class="invisible">
    
    <div id="login-pane">
    </div>
    
    <div id="register-pane">
    </div>
    
	</div>
	<div id="menu", class="visible">
		<%= render 'shared/loginmenu' %>
  </div>        
</article>   
