<li class="frontcover" id= "tbdel_id_<%= local_tb_del.id %>" data-model="textbook_delegation" data-model_id="<%= local_tb_del.id %>">
  <%= link_to image_tag(local_tb_del.textbook.textbook_image_url(:tbdel), :alt => "Show Textbook" ), 
              textbook_lessons_path(local_tb_del.textbook, {course_asset_id: @course_asset.id}.merge(@query_string)) %>
	<div class="frontcoverdelete">
    <% if @user_mode == "instructor" || @course_asset.assetable_type == "Subject" %>
  		<%= button_to 'X', course_asset_textbook_delegation_path(@course_asset, local_tb_del), 
          :confirm => 'Remove Textbook. Are you sure?', 
          :method => :delete, :remote => true, :class => "buttonTo"%>
    <% end %>
	</div>
</li>