<article>
	<div id="buttonarea">
		<span class="title">SUBJECTS</span>		
		
		<% if @subjectcount > 0 %>
			<%=link_to image_tag("Edit.png",  :mouseover => "EditHover.png",:class => "button", :alt => "Edit Subject"),  edit_subject_path(@subjectId), id: "rename_subject", remote: true %>
		<% end %>
		
		<% if @subjectcount > 0 %>
			<%=link_to image_tag("AddTextbook.png",  :mouseover => "AddTextbookHover.png",:class => "button", :alt => "Add Textbook" ), new_subject_textbook_delegation_path(params[:subject_id]) %>
		<% end %>

	</div>

	<% @textbookDels.each do |tb_del| %>
		<div class="frontcover">
			<%= link_to image_tag(tb_del.textbook.frontcover_url(:thumb).to_s, :alt => "Show Textbook" ), textbook_lessons_path(tb_del.textbook_id, :subject_id => params[:subject_id]) %>
			<%= link_to "Edit", edit_textbook_path(tb_del.textbook_id) %>
		</div>
	<% end %>
	<br class="clearfloat"/>

	(Choose a textbook to open.)
</article>