<div id="videotable"  class="tableContainer">
  <table>
    <thead class="fixedHeader">
  	  <tr>
        <th>Filename</th>
        <th></th>
  	    <th>Length</th>
        <th>Title</th>
  	    <th>Description</th>
  			<th></th>
  			<th></th>
  			<th></th>
  	  </tr>
    </thead>
    <tbody class="scrollContent sortableTable">
  		<% local_videos.each do |video| %>
  			<%= render 'video_table_row', :local_course_asset => @course_asset, :local_video => video %>
  		<% end %>
  	</tbody>
  </table>
</div>