<div id="mainpane">
	<table id="videotable">
	  <tr>
	    <th>Length</th>
	    <th>Instructor</th>
		<th>Play/Purchase</th>
		<% if current_instructor %>
			<th class="replace"></th>
			<th class="destroy"></th>
		<% end %>
	  </tr>
	
	<% videos.each do |video| %>
		<%= render 'video', :video => video, :lesson => @lesson, :subjectId => @subjectId %>
	<% end %>
	
	</table>
	<%= params.inspect %>
</div>