<div id="videopane" class="tableContainer">
	<table>
		<thead class="fixedHeader">
		  <tr>
		    <th>Length</th>
		    <th>Instructor</th>
				<th>Play/Purchase</th>
				<th class="replace"></th>
				<th class="destroy"></th>
		  </tr>
		</thead>
		<tbody class="scrollContent">
			<% videos.each do |video| %>
				<%= render 'video', :video => video %>
			<% end %>
		</tbody>
	</table>
</div>
