<article>
	<div id="buttonarea">
		<span class="title"><%= @subjectname %></span>
		<%=link_to image_tag("BackToVideos.png",  :mouseover => "BackToVideosHover.png", :class => "button", :alt => "Videos Page" ),  lesson_videos_path(@lesson, :subject_id => @subjectId) %>
	</div>	
	<div id="ac-tabs">
		<div class="lesson-banner">
			Lesson: <%= @lesson.title %>
		</div>
		<%= video_tag([@video.videofile_url(:mp4), @video.videofile_url(:ogv), @video.videofile_url(:webm)],
						:size => '800x480', 
						:controls => true, 
						:autoplay => true,
						:autobuffer => true )%>
	</div>
</article>