<div id="buttonarea">
	<div id = "button01">
	<% if instructor_signed_in? %>
		<%=link_to image_tag("AddSubject.png",  :mouseover => "AddSubjectHover.png",:class => "button", :alt => "Add Subject" ), new_instructor_subject_path(current_instructor)%>
	<% elsif student_signed_in? %>
		<%=link_to image_tag("AddSubject.png",  :mouseover => "AddSubjectHover.png",:class => "button", :alt => "Add Subject" ),  new_student_subject_path(current_student)%>
	<% end %>
	</div>
	
	<div id = "button02">
	<% if @subjectcount > 0 %>
		<%=link_to image_tag("DeleteSubject.png",  :mouseover => "DeleteSubjectHover.png",:class => "button", :alt => "Delete Subject" ), {:action => 'delete', :id => @subjects[0].id.to_s}, :confirm => 'Delete - Are you sure?'%>
	<% end %>
	</div>	
	
	<div id = "button03">
	<% if @subjectcount > 0 %>
		<%=link_to image_tag("AddTextbook.png",  :mouseover => "AddTextbookHover.png",:class => "button", :alt => "Add Textbook" ) %>
	<% end %>
	</div>
</div>

