<div class="asset-tag" id="asset_tag_<%= local_asset.id %>">
  <div class="asset-tag-edit">
    <% if @user_mode == "instructor" || local_asset.assetable_type == "Subject" %>
      <%= link_to image_tag("EditIcon.png",  :mouseover => "EditIconHover.png",:class => "buttonTo", :alt => "Edit Course"), edit_course_asset_path(local_asset, @query_string), remote: true %>
    <% end %>
  </div>
  <li>
    <%= link_to local_asset.name, 
    send("course_asset_#{CourseAssetModelType.find_by_id(local_asset.model_type).name_of_model}_path", local_asset, @query_string),
    id: "link_to_asset_#{local_asset.id}", class: "link_to_asset"
    %>
  </li>
</div>
