<div class="wide-panel">  
	<%= f.email_field :email, class: "wide", placeholder: "Parent Email" %>
	<%= f.hidden_field :_destroy %>	
	<%= link_to image_tag("xDelete.png",  :mouseover => "xDeleteHover.png", :alt => "Delete Parent" , class: "remove_fields"), '#'  %>
</div>	
