<div class="videoarea">
	  <%= video_tag(["/assets/Wildlife_512kb.mp4", "/assets/Wildlife_512kb.webm", "/assets/Wildlife_512kb.ogv"], 
	  							:size=>'380x205',
	  							:poster=>"IntroToAnswerCompanion.jpg",
	  							:controls=>true,
	  							:preload=>"auto"
	  							)%>
</div>
<div class="videoarea">
	  <%= video_tag(["/assets/Wildlife_512kb.mp4", "/assets/Wildlife_512kb.webm", "/assets/Wildlife_512kb.ogv"], 
	  							:size=>'380x205',
	  							:poster=>"IntroToAnswerCompanion.jpg",
	  							:controls=>true,
	  							:preload=>"auto"
	  							)%>
</div>
<div class="videoarea">
	  <%= video_tag(["/assets/Wildlife_512kb.mp4", "/assets/Wildlife_512kb.webm", "/assets/Wildlife_512kb.ogv"], 
	  							:size=>'380x205',
	  							:poster=>"IntroToAnswerCompanion.jpg",
	  							:controls=>true,
	  							:preload=>"auto"
	  							)%>
</div>
<div class="videoarea">
	  <%= video_tag(["/assets/Wildlife_512kb.mp4", "/assets/Wildlife_512kb.webm", "/assets/Wildlife_512kb.ogv"], 
	  							:size=>'380x205',
	  							:poster=>"IntroToAnswerCompanion.jpg",
	  							:controls=>true,
	  							:preload=>"auto"
	  							)%>
</div>
