<% cache "videoblock" do %>
<div class="videoarea">
	  <%= video_tag(["/assets/Wildlife.mp4", "/assets/Wildlife.webm", "/assets/Wildlife.ogv"], 
	  							:size=>'380x205',
	  							:poster=>"IntroToAnswerCompanion.jpg",
	  							:controls=>true,
	  							:preload=>"auto"
	  							)%>
</div>
<div class="videoarea">
	  <%= video_tag(["/assets/Wildlife.mp4", "/assets/Wildlife.webm", "/assets/Wildlife.ogv"], 
	  							:size=>'380x205',
	  							:poster=>"IntroToAnswerCompanion.jpg",
	  							:controls=>true,
	  							:preload=>"auto"
	  							)%>
</div>
<div class="videoarea">
	  <%= video_tag(["/assets/Wildlife.mp4", "/assets/Wildlife.webm", "/assets/Wildlife.ogv"], 
	  							:size=>'380x205',
	  							:poster=>"IntroToAnswerCompanion.jpg",
	  							:controls=>true,
	  							:preload=>"auto"
	  							)%>
</div>
<div class="videoarea">
	  <%= video_tag(["/assets/Wildlife.mp4", "/assets/Wildlife.webm", "/assets/Wildlife.ogv"], 
	  							:size=>'380x205',
	  							:poster=>"IntroToAnswerCompanion.jpg",
	  							:controls=>true,
	  							:preload=>"auto"
	  							)%>
</div>
<% end %>
