<table>
  <thead class="fixedHeader">
    <tr>
      <th>Description</th>
      <th>URL</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="scrollContent <%= @sortable %>Table">
    <% local_links.each do |link| %>
      <%= render 'link_table_row', local_link: link, local_course_asset: local_course_asset %>
    <% end %>
  </tbody>
</table>
