// New Instructor registration

$("#videoblock").hide();
$(".notice").empty();
$(".alert").empty();
$(".ujs_alert").html("<%= @ujsAlert %>");
$(".ujs_notice").html("<%= @ujsNotice %>");
$("#menu").hide();
$("#login-register").html("<%= j render 'shared/register' %>").show();

$('#instructor_school_name').autocomplete({
  minLength: 0,
  delay: 0,
  source: $("#instructor_school_name").data("autocomplete-source")},
 {
  messages: {
    noResults: '',
    results: ''
  },
  select: function(event, ui) {
    var info;
    info = ui.item.value.split("||");
    ui.item.value = info[0];
    $("#instructor_school_name").val(info[0]);
    $("#instructor_school_town").val(info[1]);
    return $("#instructor_school_state_abbrev").val(info[2]);
    }
  });

$(".cancel-login").click(function() {
  $("#login-register").hide();
  $(".alert").empty();
  $(".notice").empty();
  $(".ujs_alert").empty();
  $(".ujs_notice").empty();
  $("#videoblock").show();
  $("#menu").show();
})

$("#register-button").click(function(){
  var school = $("#instructor_school_name").val();
  var town = $("#instructor_school_town").val();
  var state_abbrev = $("#instructor_school_state_abbrev").val();
  
  // check to see if school already exists in database 
  var urlString = window.location.origin + "/schools/exists.json?name="+school+"&town="+town+"&state="+state_abbrev;
  
  $.ajax({
    url: urlString,
    dataType: 'json',
    async: false,
    success: function(data){
      // if school exists data=1, if not and params are valid data=0, if params are invalid data=-1
      if (data == "0"){
        $("#create_new_school_dialog").prepend("<span class \"title\">" + school + ", " + town + ", " + state_abbrev +"</span>");
        $("#create_new_school_dialog").dialog({
          title: "Create New School?",
          resizeable: false,
          modal: true,
          buttons : {
              "Yes" : function ()
              {
                $("#create_new_school_dialog").dialog("destroy");
                $("#create_new_school_dialog").html("");
                $("#new_instructor").submit();
                return true;
              },
              "No" : function ()
              {
                $("#create_new_school_dialog").dialog ("destroy");
                $("#create_new_school_dialog").html("");
                return false;
              }
            }
          });
        }
      else {
        // just submit the form and let rails handle any form errors
        $("#new_instructor").submit();
        }
      }
    });
  });
