<div id="tb_videotable" class="tableContainer">
	<table>
		<thead class="fixedHeader">
		  <tr>
		    <th>Filename</th>
        <th></th>
		    <th>Length</th>
		    <th>Instructor</th>
        <th>Rating</th>
				<th></th>
				<th></th>
		  </tr>
		</thead>
		<tbody class="scrollContent">
			<% videos.each do |video| %>
				<%= render 'tb_video_table_row', :local_video => video %>
			<% end %>
		</tbody>
	</table>
</div>
