<table class="index">
  <tr>
  <th>Name</th>
	<th>Term</th>
  <th>Edit</th>
	<th>Del</th>
  </tr>

<% local_subjects.each do |subject| %>
  <%= render 'subject_table_row', :local_subject => subject %>
<% end %>
</table>