<article>
	<div id="buttonarea">
		<span class="title">Subject Index</span>
		
			<%=link_to image_tag("AddSubject.png",  :mouseover => "AddSubjectHover.png",:class => "button", :alt => "Add Subject"),  
			                      new_student_subject_path(current_student.id), id: "new_subject", remote:true %>
	</div>
	<div id="create_new_category_dialog">
	</div>
	<div id="static-tabs">
		<ul class="static-tabs-nav">
			<li><a href="#current-subjects">Current Subjects</a></li>
			<li><a href="#archived-subjects">Archived Subjects</a></li>
		</ul>
		<div id="current-subjects">
			<%= render 'index_table', :local_subjects => @current_subjects %>
		</div>
		<div id="archived-subjects">
			<%= render 'index_table', :local_subjects => @archived_subjects %>
		</div>
	</div>	
</article>

