
<% if @new_category  %>
  $("#create_new_category_dialog").html("<%= j render 'new_category_dialog' %>");
	$("#create_new_category_dialog").prepend("<span class=\"title\"> <%= j @category.name %> </span>");
	$("#create_new_category_dialog").dialog({
	  title: "Create New Subject Category?",
	  resizeable: false,
	  modal: true
	  });

	$("#confirm_yes").click(function(){
		$("#create_new_category_dialog").dialog("close");
	});

	$("#confirm_no").click(function(){
		$("#subject_category_name").val("");
		$("#create_new_category_dialog").dialog("close");
	});

<% else %>
	$("#messages .alert").hide();
	$("#messages .ujs_alert").hide();
	$("#messages .notice").hide();
	$("#messages .ujs_notice").hide();

	if ($.cookie('index_tab') == "#current-subjects") {
		$("#buttonarea").hide().after("<%= j render 'new_subject', :archived_val => false %>");
		}
	else {
		$("#buttonarea").hide().after("<%= j render 'new_subject', :archived_val => true %>");
		}

	$("#subject_category_name").autocomplete({
	  minLength: 0,
	  delay: 0,
	  source: $("#subject_category_name").data("autocomplete-source"),
	  messages: {noResults: '', results: ''}
		});
<% end %>