<div id="lessonpane" class="tableContainer">
  <table>
    <thead class="fixedHeader">
      <tr>
        <th>Title</th>
        <th>Page</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="scrollContent">
      <% lessons.each do |lesson| %>
        <%= render "lesson_table_row", local_lesson: lesson %>
      <% end %>
    </tbody>
  </table>
</div>