<table class="index">
  <thead class="fixedHeader">
    <tr>
      <th>Name</th>
      <th>Section</th>
      <th>Term</th>
      <th>Instructor</th>
      <th>School</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody class="sortableTable">
    <% local_courses.each do |course| %>
      <%= render 'course_table_row', :local_course => course %>
    <% end %>
  </tbody>
</table>