<article>
	<div id="buttonarea">
		<span class="title">Course Index</span>
		
			<%=link_to image_tag("AddCourse.png",  :mouseover => "AddCourseHover.png",:class => "button", :alt => "Add Course"),  
			                      new_instructor_course_path(current_instructor.id), id: "new_course", remote:true %>
	</div>
	<div id="horizontal-tabs">
		<ul class="static-tabs-nav">
			<li><a href=".current-tab">Current</a></li>
			<li><a href=".archived-tab">Archived</a></li>
			<li><a href=".future-tab">Future</a></li>
		</ul>
	</div>
	<div id="static-tabs">
    
		<div class="current-tab">
			<%= render 'courses_index_table', :local_courses => @current_courses %>
		</div>
    
		<div class="archived-tab">
			<%= render 'courses_index_table', :local_courses => @archived_courses %>
		</div>
    
    <div class="future-tab">
      <%= render 'courses_index_table', :local_courses => @future_courses %>
    </div>
    
	</div>	
</article>

