#buttonarea {
	width:$screen-width - 10px;
	height:60px;
	.title {
		font-size:24px;
		color: $main-green;
		float:left;
		padding-top:4px;
		padding-left:4px;
		min-width:150px;
	}
	.button{
		padding-top:3px;
		margin-right:20px;
		margin-left:10px;
		float:left;		
		select {
			float:left;
			padding-top:6px;
			margin-right:10px;
			font-size:1em;
			color: $main-green;
		}
  }
	form select {
		float:left;
		padding-top:6px;
		margin-right:10px;
		font-size:1em;
		color: $main-green;
	}
}

#ujsform {
	width:$screen-width - 24px;
	height:30px;
	label {
		font-size:1em;
		color:$main-green;
	}
	input[type="submit"] {
		color:black;
		font-size:1em;
		&:hover{
		  color:blue;	
		  cursor:pointer;
		}
	}
	input[value="Cancel"] {
		color:black;
		font-size:1em;
		&:hover{
		  color:red;	
		  cursor:pointer;
		}
	}
	select {
		color:$main-green;
		font-size:1em;
	}
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px $medium-grey;
  cursor: default;
  li {
    background-color: white;
    border-top: solid 1px $very-light-grey;
    margin: 0;
    padding: 0;
    a {
      color: black;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: $very-light-green;
    }
  }
}

.ui-widget-content .ui-state-focus {
	border: 1px solid $medium-grey;
	background: $very-light-green;
	font-weight: normal;
	color: #212121;
}