#buttonarea {
	width:800px;
	height:30px;
	.title {
		font-size:24px;
		color: $main-green;
		float:left;
		padding-top:4px;
		padding-left:4px;
		min-width:150px;
	}
	.button{
		padding-top:3px;
		margin-right:20px;
		margin-left:10px;
		float:left;		
		select {
			float:left;
			padding-top:6px;
			margin-right:10px;
			font-size:1em;
			color: $main-green;
		}
  }
	form select {
		float:left;
		padding-top:6px;
		margin-right:10px;
		font-size:1em;
		color: $main-green;
	}
}

#ujsform {
	width:800px;
	height:30px;
	label {
		font-size:1em;
		color:$main-green;
	}
		input[type="submit"] {
			color:black;
			font-size:1em;
			&:hover{
			  color:blue;	
			  cursor:pointer;
			}
		}
			input[value="Cancel"] {
				color:black;
				font-size:1em;
				&:hover{
				  color:red;	
				  cursor:pointer;
				}
			}
}
