#data-entry {
  position:relative;
  height:auto !important;
  min-height: 370px;
  background-color:$very-light-green;
  border: solid 5px $dark-grey;
  border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
  padding: 15px;
  margin: 20px;
  font-size: 1.2em;
    
  .login_img{
    position:absolute;
    top:15px;
    left:15px;
    width:20px;
    height:30px;
  }

  span.login {
    position:absolute;
    top:25px;
    left:35px;
    font-family: "Copperplate", sans-serif;
    font-size: 24px;
    }

  #data-entry-form {
    position:relative;
    width:750px;
    height:auto !important;
    min-height:340px;
    margin-top:60px;
    margin-left:0px;
    margin-left:20px;
    ::-moz-placeholder {
      color:$dark-grey;
    }
    input[type=text], input[type=email], input[type=password] {
      border: solid 1px $medium-grey;
      border-radius:15px;
      font-size: 1em;
      height:35px;
      margin-bottom:10px;
      padding-left:10px;
      &.wide {
        width:320px;
      }
      &.medium {
        width:165px;
      }
      &.narrow {
        width:55px;
      }
      &:hover{
    	  cursor:pointer;
    	}
    }
    input[type=submit]{
      font-size: 1em;
    }
    input.cancel-login {
      position:absolute;
      bottom:10px;
      right:60px;
  		&:hover{
  		  color:red;	
  		  cursor:pointer;
  		}
    }
    input.signin {
      position:absolute;
      bottom:10px;
      right:160px;
  		&:hover{
		    color:blue;	
		    cursor:pointer;
		  }
    }
    img.signin {
      position:absolute;
      bottom:10px;
      right:160px;
  		&:hover{
		    color:blue;	
		    cursor:pointer;
		  }
    }
    img.cancel-login {
      position:absolute;
      bottom:10px;
      right:60px;
    }
    img.cancel-link {
      position:absolute;
      bottom:10px;
      right:60px;
    }
    a.delete-link {
      position:absolute;
      bottom:10px;
      left:40px;
    }
    input[type=checkbox].remember-me  {
      position:absolute;
      top:50px;
      left:0px;
    }
    label.remember-me {
      position:absolute;
      top:52px;
      left:20px;
      font-family: "Copperplate", sans-serif;
      font-size: 16px;
    }
    a.forgot-password {
      position:absolute;
      top:52px;
      left:10px;
      font-family: "Copperplate", sans-serif;
      font-size: 16px;
      color:black;
      &:hover{
        cursor:pointer;
        color:blue;
      }
    }
    a.forgot-password-big {
      position:absolute;
      top:62px;
      left:10px;
      font-family: "Copperplate", sans-serif;
      font-size: 26px;
      color:red;
      &:hover{
        cursor:pointer;
        color:blue;
      }
    }
  	.field_with_errors input{
  	  border: solid 3px red;
  	}
    .left-entry-panel{
      position: relative;
      width:350px;
      margin-left:20px;
      float: left;
    }
    .right-entry-panel{
      position: relative;
      width:350px;
      float:left;
    }
    .full-width-panel{
      clear:both;
      margin-top:20px;
      margin-left:20px;
      width:700px;
    }
    .wide-panel{
      margin-left:20px;
      width:660px;
//      height:45px;
    }
    a.add_fields{
      padding-top:15px;
      margin-left:20px;
    }
    img.add_fields_img{
      padding-top:15px;
    }
    .school-memberships, .new-school-memberships {
      float:left;
      width:630px;
      background-color:white;
      padding-left:10px;
      padding-top:5px;
//      margin-left:20px;
      
      div.wide {
        float:left;
        width:350px;
        &.stricken {
          text-decoration:line-through;
          color:red;
        }
      }
      div.medium {
        float:left;
        width:185px;
        &.stricken {
          text-decoration:line-through;
          color:red;
        }
      }
      div.narrow {
        float:left;
        width:60px;
        &.stricken {
          text-decoration:line-through;
          color:red;
        }
      }
//      background-color:$light-grey;
    }
    
  }
}

#ujsform {
	.field_with_errors input{
	  border: solid 1px red;
	}
}