#data-entry {
  position:relative;
  width: 720px;
  height: 370px;
  background-color:$very-light-green;
  border: solid 5px $dark-grey;
  border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
  padding: 15px;
  margin: 20px;
  font-size: 1.2em;
    
  .login_img{
    position:absolute;
    top:15px;
    left:15px;
    width:20px;
    height:30px;
  }

  span.login {
    position:absolute;
    top:25px;
    left:35px;
    font-family: "Copperplate", sans-serif;
    font-size: 24px;
    }

  #data-entry-form {
    position:absolute;
    width:750px;
    height:340px;
    top:60px;
    left:0px;
    margin:0;
    ::-moz-placeholder {
      color:$dark-grey;
    }
    input[type=text], input[type=email], input[type=password] {
      border: solid 1px $medium-grey;
      border-radius:15px;
      font-size: 1em;
      height:35px;
      margin-bottom:10px;
      padding-left:10px;
      &.wide {
        width:320px;
      }
      &.medium {
        width:215px;
      }
      &.narrow {
        width:90px;
      }
      &:hover{
    	  cursor:pointer;
    	}
    }
    input.signin {
      position:absolute;
      bottom:20px;
      right:160px;
    }
    img.cancel-login {
      position:absolute;
      bottom:20px;
      right:60px;
    }
    input[type=checkbox].remember-me  {
      position:absolute;
      top:50px;
      left:20px;
    }
    label.remember-me {
      position:absolute;
      top:52px;
      left:40px;
      font-family: "Copperplate", sans-serif;
      font-size: 16px;
    }
    a.forgot-password {
      position:absolute;
      top:52px;
      left:40px;
      font-family: "Copperplate", sans-serif;
      font-size: 16px;
      color:black;
      &:hover{
        cursor:pointer;
        color:blue;
      }
    }
    a.forgot-password-big {
      position:absolute;
      top:62px;
      left:30px;
      font-family: "Copperplate", sans-serif;
      font-size: 26px;
      color:red;
      &:hover{
        cursor:pointer;
        color:blue;
      }
    }
  	.field_with_errors input{
  	  border: solid 3px red;
  	}
  }
  #left-entry-panel{
    position: relative;
    width:355px;
    height:240px;
    margin-left:20px;
    float: left;
  }
  #right-entry-panel{
    position: relative;
    width:355px;
    height:240px;
    float:left;
   
  }

}

