#videoblock, #login-register {
  height:auto !important;
  min-height:450px;
  width:800px;
  border: solid 20px $main-green;
  margin:auto;
}  
#login-register.invisible {
    display:none;
  }
#login-register.visible {
  display:block;
}
#videoblock.invisible {
    display:none;
  }
#videoblock.visible {
  display:block;
}
.videoarea {
	float: left;
	height:205px;
	width:380px;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
	background:white;
	border: solid 2px $main-green;
	cursor:pointer;
}

#menu {
	clear:both;
	height: 150px;
	width: $screen-width - 24px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0;
	border:none;
  ul li {
		float: left;
		padding-top: 60px;
		padding-left: 10px;
		list-style-type: none;
		text-decoration: none;
	}
}
#menu.invisible {
    display:none;
  }
#menu.visible {
  display:block;
}
.instructor {
  margin-left: ($screen-width - 774px) / 2;
	height: 100px;
	width: 250px;
	float:left;
	background-image: url('InstructorLogo.png');
	background-size: 130px 30px;
	background-position: 60px 30px;
	background-repeat: no-repeat;

}

.student {
	float:left;
	height: 100px;
	width: 250px;
	background-image: url('StudentLogo.png');
	background-size: 100px 30px;
	background-position: 70px 30px;
	background-repeat: no-repeat;

}

.parent {
	float:left;
	height: 100px;
	width: 250px;
	background-image: url('ParentLogo.png');
	background-size: 90px 30px;
	background-position: 75px 30px;
	background-repeat: no-repeat;
}
