li.textbox {
  min-height: 40px;
  padding: 10px;
  border: none;
  margin:10px 10px 10px 0px;
  background-color: white;
  form {
    input {
        font-size: 1em;
        font-family:inherit;
      }
    textarea {
      font-size: 1em;
      font-family:inherit;
      width:100%;
    }
    input[type="submit"] {
        color: #000000;
        font-size: 1em;
    }
    
  }
  fieldset {
    legend {
      color:$main-green;
      font-weight:bold;
      font-size:1.5em;
    }
    p {
      margin:-30px 0 0 0;   // -30px tpo margin forces overlap with edit and delete icons
      font-size:1em;
    }
  }
}

.textboxdelete .buttonTo {
	cursor:pointer;
	position:relative;
	left:770px;
	top:-30px;
	color:$main-green;
	background-color:white;
	font-weight:bold;
	font-size:1.5em;
}

.field_with_errors {
  textarea {
      border:solid 2px red;    
  }
  input {
      border:solid 2px red;    
  }
}
