li.textbox {
  min-height: 40px;
  padding: 10px;
  border: none;
  margin:10px 10px 10px 0px;
  background-color: white;
  form {
    input {
        font-size: 1.5em;
        font-family:inherit;
      }
    textarea {
      font-size: 1.5em;
      font-family:inherit;
      width:100%;
    }
    input[type="submit"] {
        color: #000000;
        font-size: 1em;
    }
    
  }
  fieldset {
    legend {
      color:$main-green;
      font-weight:bold;
      font-size:1.5em;
    }
    p {
      margin:0;
      font-size:1.5em;
    }
  }
}

.textboxdelete .buttonTo {
	cursor:pointer;
	position:relative;
	left:785px;
	top:-25px;
	color:$main-green;
	background-color:white;
	font-weight:bold;
	font-size:1.5em;
	border:2px solid $main-green;
}
.textboxdelete .buttonTo:hover {
	color:red;
	border:2px solid red;
}
