#videotable.tableContainer  {
  @include tablecontainer(150px, 35px, 120px, 130px, 279px, 35px, 35px, 35px);
}

#tb_videotable.tableContainer  {
  @include tablecontainer(255px, 35px, 120px, 230px, 115px, 35px, 35px, 0);
}

#noscroll-panel {
	#breadcrumbs {
	  width:$screen-width - 14px - 120px;
	  height:24px;
		float:left;
		text-align:center;
		padding-top:5px;
		font-size:1.2em;
		color:$main-green;
		a {
			&:hover{
				text-decoration:underline;
				color:blue;
			}
		}
	}
	video {
		padding-left:45px;
	}
}
#new_video {
	margin-top: 0px;
	margin-bottom: 0px;
}

#uploadfilename {
  float:left;
	height: 30px;
  margin-top: 6px;
  margin-left: 10px;
	font-size:15px;
}
.upload {
  float: left;
  width: 450px;
  height: 30px;
  padding-top: 0px;
  margin-top: 0px;

  .progress {
    margin-top: 4px;
    border: solid 1px #555;
    border-radius: 3px;
    -moz-border-radius: 3px;
    .bar {
      height: 20px;
      background: #3EC144;
    }
  }
}

td a.video_hide_icon{
  display:none;
  }
