<article>
<div id="buttonarea">
	<%=link_to image_tag("AddCategory.png",  :mouseover => "AddCategoryHover.png",:class => "button", :alt => "Add Category" ), new_category_path %>
</div>
<div id="indexarea">
<% if @categories %>
<table>
<tr>
<th>Category</th>
<th></th>
<th></th>
</tr>

<% @categories.each do |category| %>
<tr>
<td><%= category.name %></td>
<td><%= link_to 'Edit', edit_category_path(category) %></td>
<td><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></td>
</tr>
<% end %>
</table>
<% end %>
<br />
