<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <% if @category %>
	  <%= @category.name %>
	<% end %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
