<div id="exercisepane" class="tableContainer">
	<table>
		<thead class="fixedHeader">
		  <tr>
		    <th>Number</th>
		    <th>Page</th>
		    <th>Section</th>
				<th></th>
				<th></th>
		  </tr>
		</thead>
		<tbody class="scrollContent">
			<% exercises.each do |exercise| %>
        <%= render "exercise_table_row", local_exercise: exercise %>
  		<% end %>
		</tbody>
	</table>
</div>